nav {
    width: 100%;
    display: flex;
    padding: 0 10% 0 25%;
    justify-content: space-between;
    height: 4em;
}

.nav-right {
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: space-evenly;
}

.nav-logo {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 900;
    max-width: 6em;
}

.nav-logo a {
    color: #373737;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    color: #373737;
    font-weight: 900;
    border-bottom: 12px solid rgba(0,0,0,0);
    padding-right: 1em;
    letter-spacing: .5px;
}

.nav-item.active {
    color: #5AB3FF;
    border-bottom: 12px solid #5AB3FF;
}
