body, #root {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper .header {

}

.wrapper .content {
  flex: 1;
  display: flex;
}

.wrapper .footer {

}

.button .icon {
  margin: 0 -.2rem 0 -.2rem !important;
}

.ui.container.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
